{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'libs/daterangepicker/daterangepicker.css' %}" />
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js'></script>  
    <link rel="stylesheet" href="{% static 'libs/sweetalert2/sweetalert2.min.css' %}">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title">Agenda</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Agenda</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7 col-lg-7 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Calendário de Vacinação</h4>
            </div>
            <div class="card-body">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
     
    <div class="col-md-5 col-lg-5 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="header-title mt-0 mb-3">Campanhas de Vacinação Ativa</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>Campanha</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for campanha in campanhas %}
                                <tr>
                                    <td>{{campanha.titulo}}</td>
                                    <td>
                                        <a href="{% url 'agenda:agendar_vacinacao_estabelecimento' campanha.pk %}" class="btn btn-success">Agendar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
     </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'libs/sweetalert2/sweetalert2.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                themeSystem: 'bootstrap',
                locale: 'pt-br',
                validRange: {
                    start: '2019-12-15',
                    //end: new Date()
                },
                events: [
                    {% for vac in minhas_vacinas %}
                        {
                            title: '{{vac.campanha.titulo}}',
                            start: '{{vac.data|date:"Y-m-d"}}',
                            extendedProps: {
                                estabelecimento: '{{ vac.estabelecimento.nome }}',
                                endereco: '{{ vac.estabelecimento.get_endereco }}'
                            },
                        },
                    {% endfor %}
                ],
                eventClick: function(info) {
                    Swal.fire(
                        'Vacina a vista!',
                        'Se dirija ao estabelecimento: '+info.event.extendedProps.estabelecimento+',\nno endereço: '+
                        info.event.extendedProps.endereco,
                        'success'
                        )
                    info.el.style.borderColor = 'red';
                },
            });

            calendar.render();
        });        
    </script>
{% endblock %}
